asgiref==3.9.1
certifi==2025.7.14
cffi==1.17.1
clickhouse-connect==0.8.18
cryptography==45.0.5
Django==5.2.4
lz4==4.4.4
mysql-connector-python==9.4.0
mysql-replication==1.0.9
packaging==25.0
pycparser==2.22
PyMySQL==1.1.1
python-decouple==3.8
pytz==2025.2
setuptools==80.9.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
wheel==0.45.1
zstandard==0.23.0
